@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="TimeZoneController as zonesList">
    <form name="timeZoneForm" novalidate>
        <div class="form-group" ng-class="{ 'has-error': timeZoneForm.timeZoneInput.$invalid }">
            <label for="timeZoneInput">Time Zone</label>
            <input type="text" class="form-control" name="timeZoneInput" id="timeZoneInput" ng-model="zonesList.timeZoneValue" placeholder="Enter time zone. Example: -3" ng-pattern="/^(0|(\+|-){1}\d+)$/" required>
        </div>
        <div class="form-group" ng-class="{ 'has-error': timeZoneForm.cityNameInput.$invalid }">
            <label for="cityNameInput">City Name</label>
            <input type="text" class="form-control" name="cityNameInput" id="cityNameInput" ng-model="zonesList.cityValue" placeholder="Enter city name. Example: Moscow" required autocomplete="off" cityautocomplete>
        </div>
        <button type="button" class="btn btn-success" ng-click="zonesList.addZone()" ng-show="!zonesList.isEditState" ng-disabled="timeZoneForm.$invalid">Add time zone</button>
        <button type="button" class="btn btn-primary" ng-click="zonesList.saveZone()" ng-show="zonesList.isEditState" ng-disabled="timeZoneForm.$invalid">Save</button>
        <button type="button" class="btn btn-default" ng-click="zonesList.cancelEdit()" ng-show="zonesList.isEditState">Cancel</button>
    </form>
    <br />
    <div class="form-group">
        <label for="filterInput">Search:</label>
        <input type="text" class="form-control" name="filterInput" ng-model="zonesList.filter">
    </div>

    <div class="row">
        <div class="col-md-3" ng-repeat="zone in zonesList.timeZones | filter: { city: zonesList.filter }">
            Current local time: {{zone.timeStr()}}<br />
            Time zone: {{zone.timeZone}}<br />
            Location name: {{zone.city}}<br />
            <button type="button" class="btn btn-default" ng-click="zonesList.editZone(zone)">Edit</button>
            <button type="button" class="btn btn-danger" ng-click="zonesList.deleteZone(zone)">Delete</button>
        </div>
    </div>
</div>